@import "../../styles/variables.scss";
.footer {
  margin-top: auto;
  text-align: center;
  padding: 10px 0;
  transition: 0.3s;
  &:hover {
    filter: drop-shadow(0 0 2.5em $drop-shadow-color);
  }
}
